@charset "utf-8";

.home-all-post {
	margin:0 auto;
}

.container {
	padding: 15px;
}

.card-header {
	background-color: #343a40;
}

.card-header-title {
	color: #fff;
}

.list-group-item-dark {
	background-color: #343a40;
	color: #fff;
	text-transform: uppercase;
}

.list-inline-new {
	list-style: none;
}

.post-body {
	padding: 50px;
}

.post-body p {
	line-height: 1.5;
}



